<header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Clarity Hotel</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['./dashboard']" class="active nav-link nav-text">Dashboard</a>
      <a href="javascript://" class="nav-link nav-text">Booking</a>
      <a href="javascript://" class="nav-link nav-text">Rooms & Anemity</a>
      <a href="javascript://" class="nav-link nav-text">About Us</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </header>
<router-outlet></router-outlet>